{% extends 'X-admin/base/list_base.html' %}

{% block content_table %}
    <div class="layui-card-body">
        <table class="layui-table"
               lay-data="{url:'/homepage/index/audit_list_action',page:true,toolbar: '#toolbarDemo',id:'memberList'}"
               lay-filter="memberList">
            <thead>
            <tr>
                <th lay-data="{type:'checkbox'}">ID</th>
                <th lay-data="{field:'id', width:80, sort: true}">ID</th>
                <th lay-data="{field:'username', width:120, sort: true, edit: 'text'}">操作者</th>
                <th lay-data="{field:'bash_shell', edit: 'text', minWidth: 150}">命令</th>
                <th lay-data="{field:'audit_data_time', minWidth:80}">操作时间</th>
                <th lay-data="{field:'server_ip', edit: 'text', minWidth: 100}">服务器ip</th>
                <th lay-data="{'field':'operation', 'toolbar':'#OperationToolBar'}">操作</th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}

<script>
</script>
