{% extends 'X-admin/hls/hls_server_base.html' %}

{% block content_form %}
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">
                {% csrf_token %}
                <div class="layui-form-item">
                    <label for="L_special" class="layui-form-label">
                        </span>专服</label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_special" name="special" required="" lay-verify="special"
                               autocomplete="off" class="layui-input"></div>
                </div>
                <div class="layui-form-item">
                    <label for="L_num" class="layui-form-label">
                        </span>数量</label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_num" name="number" required="" lay-verify="number"
                               autocomplete="off" class="layui-input"></div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label"></label>
                    <button class="layui-btn" lay-filter="add" lay-submit="">确定</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block ajax_getValues %}
    var L_special = document.getElementById("L_special").value,
    L_num = document.getElementById("L_num").value,
    csrf = $('input[name="csrfmiddlewaretoken"]').val();
{% endblock %}

{% block ajax_url %}
    url: "/homepage/hls/create/game_action/",
{% endblock %}

{% block ajax_data %}
    data: {
    "csrfmiddlewaretoken": csrf,
    "L_special": L_special,
    "L_num": L_num,
    },
{% endblock %}

{% block ajax_successAlert %}
    layer.alert("增加成功", {
    icon: 6
    },
{% endblock %}

{% block ajax_failedAlert %}
    layer.alert("增加失败", {
    icon: 5
    },
{% endblock %}

{% block ajax_errorAlert %}
    layer.alert("增加失败", {
    icon: 5
    },
{% endblock %}

