{% extends 'X-admin/hls/hls_server_base.html' %}

{% block content_form %}
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">
                {% csrf_token %}
                <div class="layui-form-item">
                    <label for="L_serverid" class="layui-form-label">
                        </span>游服</label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_serverid" name="special" required=""
                               autocomplete="off" class="layui-input"></div>
                </div>
                <div class="layui-form-item">
                    <label for="L_version" class="layui-form-label">版本</label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_version" name="number" required=""
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label"></label>
                    <button class="layui-btn" lay-filter="add" lay-submit="">确定</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block ajax_getValues %}
    var L_serverid = document.getElementById("L_serverid").value,
    L_version = document.getElementById("L_version").value,
    csrf = $('input[name="csrfmiddlewaretoken"]').val();
{% endblock %}

{% block ajax_url %}
    url: "/homepage/index/hls_update_action",
{% endblock %}

{% block ajax_data %}
    data: {
    "csrfmiddlewaretoken": csrf,
    "L_serverid": L_serverid,
    "L_version": L_version,
    },
{% endblock %}


{% block ajax_successAlert %}
    layer.alert("更新成功", {
    icon: 6
    },
{% endblock %}

{% block ajax_failedAlert %}
    layer.alert("更新失败", {
    icon: 5
    },
{% endblock %}

{% block ajax_errorAlert %}
    layer.alert("更新失败", {
    icon: 5
    },
{% endblock %}
