{% extends 'X-admin/hls/hls_server_base.html' %}

{% block content_form %}
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">
                {% csrf_token %}
                <div class="layui-form-item">
                    <label for="L_serverid" class="layui-form-label">游服</label>
                    <div class="layui-input-inline">
                        <input type="text" id="L_serverid" name="special" required=""
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label"></label>
                    <button class="layui-btn" lay-filter="add" lay-submit="">确定</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block ajax_getValues %}
    var L_serverid = document.getElementById("L_serverid").value,
    csrf = $('input[name="csrfmiddlewaretoken"]').val();
{% endblock %}

{% block ajax_url %}
    url: "/homepage/hls/start/game_action/",
{% endblock %}

{% block ajax_data %}
    data: {
    "csrfmiddlewaretoken": csrf,
    "L_serverid": L_serverid,
    },
{% endblock %}

