{% extends 'X-admin/base/action_base.html' %}

{% block content_form %}
    <form class="layui-form">
        {% csrf_token %}
        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">昵称</label>
            <div class="layui-input-inline">
                <input type="text" id="L_username" name="username" disabled="" value="获取用户失败"
                       class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>旧密码</label>
            <div class="layui-input-inline">
                <input type="password" id="L_oldpass" name="oldpass" required="" lay-verify="required"
                       autocomplete="off" class="layui-input"></div>
        </div>

        <div class="layui-form-item">
            <label for="L_pass" class="layui-form-label">
                <span class="x-red">*</span>新密码</label>
            <div class="layui-input-inline">
                <input type="password" id="L_newpass" name="newpass" required="" lay-verify="pass"
                       autocomplete="off" class="layui-input"></div>
            <div class="layui-form-mid layui-word-aux">6到16个字符</div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>确认密码</label>
            <div class="layui-input-inline">
                <input type="password" id="L_repass" name="repass" required="" lay-verify="repass"
                       autocomplete="off" class="layui-input"></div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="add" lay-submit="">修改密码</button>
        </div>
    </form>
{% endblock %}

<script>

    {% block layui_js %}
        var username = window.location.search.substring(1);
        $("#L_username").val(username);

        //密码验证
        form.verify({
            pass: [/(.+){6,12}$/, '密码必须6到12位'],
            repass: function (value) {
                if ($('#L_repass').val() != $('#L_newpass').val()) {
                    return '两次密码不一致';
                }
            }
        });
    {% endblock %}

    {% block ajax_value %}
        var L_oldpass = document.getElementById("L_oldpass").value
        L_newpass = document.getElementById("L_newpass").value;
    {% endblock %}

    {% block ajax_type %}
        type: "post",
    {% endblock %}

    {% block ajax_url %}
        url: "/homepage/users/passwd/user_action/",
    {% endblock %}

    {% block ajax_data %}
        "L_username": username,
        "L_oldpass": L_oldpass,
        "L_newpass": L_newpass,
    {% endblock %}

    {% block ajax_success %}
        layer.alert("修改成功", {
        icon: 6
    },
    {% endblock %}

    {% block ajax_failed %}
        layer.alert("修改失败", {
        icon: 5
    },
    {% endblock %}

    {% block ajax_error %}
        layer.alert("修改错误", {
            icon: 5
        },
    {% endblock %}
</script>

{#            function () {#}
{#                var index = parent.layer.getFrameIndex(window.name);#}
{#                parent.layer.close(index);#}
{#            });#}
</body>
</html>