{% extends 'X-admin/base/action_base.html' %}

{% block content_form %}
    <form class="layui-form">
        {% csrf_token %}
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="x-red">*</span>邮箱</label>
            <div class="layui-input-inline">
                <input type="text" id="L_email" name="email" required="" lay-verify="email" autocomplete="off"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>将会成为您唯一的登入名
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_username" class="layui-form-label">
                <span class="x-red">*</span>用户名</label>
            <div class="layui-input-inline">
                <input type="text" id="L_username" name="username" required="" lay-verify="nikename"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_gender" class="layui-form-label">
                </span>性别</label>
            <div class="layui-input-inline">
                <input type="radio" name="sex" value="male" title="男" checked>
                <input type="radio" name="sex" value="female" title="女">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_number" class="layui-form-label">
                <span class="x-red">*</span>电话</label>
            <div class="layui-input-inline">
                <input type="text" id="L_number" name="usernum" required="" lay-verify="userNum"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_department" class="layui-form-label">
                </span>部门</label>
            <div class="layui-input-inline">
                {#                <input type="text" id="L_department" name="userdepart" required="" lay-verify="userDepart"#}
                {#                       autocomplete="off" class="layui-input">#}
                <select name="department" lay-verify="" lay-search="" id="L_department">
                    <option value="1" selected>运维部</option>
                    <option value="2">测试部</option>
                    <option value="3">研发部</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_pass" class="layui-form-label">
                <span class="x-red">*</span>密码</label>
            <div class="layui-input-inline">
                <input type="password" id="L_pass" name="pass" required="" lay-verify="pass" autocomplete="off"
                       class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">6到16个字符</div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="x-red">*</span>确认密码</label>
            <div class="layui-input-inline">
                <input type="password" id="L_repass" name="repass" required="" lay-verify="repass"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="add" lay-submit="">增加</button>
        </div>
    </form>
{% endblock %}

<script>
    {% block layui_js %}
        //自定义验证规则
        form.verify({
            nikename: function (value) {
                if (value.length < 5) {
                    return '昵称至少得5个字符啊';
                }
            },
            pass: [/(.+){6,12}$/, '密码必须6到12位'],
            repass: function (value) {
                if ($('#L_pass').val() != $('#L_repass').val()) {
                    return '两次密码不一致';
                }
            }
        });
    {% endblock %}

    {% block ajax_value %}
        var L_email = document.getElementById("L_email").value,
            L_username = document.getElementById("L_username").value,
            L_pass = document.getElementById("L_pass").value,
            L_number = document.getElementById("L_number").value,
            L_department = document.getElementById("L_department").value,
            L_gender = $('input[name="sex"]:checked').val();
    {% endblock %}

    {% block ajax_type %}
        type: "post",
    {% endblock %}

    {% block ajax_url %}
        url: "/homepage/users/add/user_action/",
    {% endblock %}

    {% block ajax_data %}
        "L_email": L_email,
        "L_username": L_username,
        "L_pass": L_pass,
        "L_number": L_number,
        "L_department": L_department,
        "L_gender": L_gender
    {% endblock %}

    {% block ajax_success %}
        layer.alert("增加成功", {
        icon: 6
    },
    {% endblock %}

    {% block ajax_failed %}
        layer.alert("增加失败", {
        icon: 5
    },
    {% endblock %}

    {% block ajax_error %}
        layer.alert("增加错误", {
            icon: 5
        },
    {% endblock %}

    {% block content_js %}
        $.ajax({
            type: "get",
            url: "/homepage/department/",
            success: function (data){
                alert(data)
            },
            error: function (data){
                alert(data)
            }
        })
    {% endblock %}
</script>
</body>
</html>