<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/xadmin.css">
    <script src="../../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../static/js/xadmin.js"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       onclick="location.reload()" title="刷新">
        <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form layui-col-space5">
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="开始日" name="start" id="start">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input class="layui-input" autocomplete="off" placeholder="截止日" name="end" id="end">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <input type="text" name="username" placeholder="请输入" autocomplete="off"
                                   id="search_input"
                                   class="layui-input">
                        </div>
                        <div class="layui-inline layui-show-xs-block">
                            <span class="layui-btn" id="search_btn" data-type="reload">
                                <i class="layui-icon">&#xe615;</i>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="layui-card-header">
                    {% block content_btn %}
                        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除
                        </button>
                        <button class="layui-btn" onclick="xadmin.open('添加用户','memberAdd',600,500)"><i
                                class="layui-icon"></i>添加
                        </button>
                    {% endblock %}
                </div>
                {% block content_table %}
                    <div class="layui-card-body">
                        <table class="layui-table"
                               lay-data="{url:'/homepage/index/memberlistAction',page:true,toolbar: '#toolbarDemo',id:'memberList'}"
                               lay-filter="memberList">
                            <thead>
                            <tr>
                                <th lay-data="{type:'checkbox'}">ID</th>
                                <th lay-data="{field:'id', width:80, sort: true}">ID</th>
                                <th lay-data="{field:'username', width:120, sort: true, edit: 'text'}">用户名</th>
                                <th lay-data="{field:'email', edit: 'text', minWidth: 150}">邮箱</th>
                                <th lay-data="{field:'sex', width:80,templet: '#switchTpl'}">性别</th>
                                <th lay-data="{field:'city', edit: 'text', minWidth: 100}">城市</th>
                                <th lay-data="{field:'score', sort: true, edit: 'text'}">积分</th>
                                <th lay-data="{field:'school', edit: 'text'}">学校</th>
                                <th lay-data="{'field':'status', templet: '#StatusTemplet'}">状态</th>
                                <th lay-data="{'field':'operation', 'toolbar':'#OperationToolBar'}">操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
</div>
</body>

<script>
    layui.use(['laydate', 'form', 'table'], function () {
        var laydate = layui.laydate;
        var form = layui.form;
        var table = layui.table;

        // 监听全选
        form.on('checkbox(checkall)', function (checked_form) {

            if (checked_form.elem.checked) {
                $('tbody input').prop('checked', true);
            } else {
                $('tbody input').prop('checked', false);
            }
            form.render('checkbox');
        });

        {% block content_search %}
            var active = {
                reload: function () {
                    var search_value = $('#search_input').val();
                    table.reload('memberList', {
                        page: {
                            curr: 1
                        },
                        where: {
                            "username": search_value,
                            "method": "searchUser"
                        }
                    });
                }
            };
        {% endblock %}

        $('#search_btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#start' //指定元素
        });
        //执行一个laydate实例
        laydate.render({
            elem: '#end' //指定元素
        });

        {% block layui_script %}
        {% endblock %}

    });
</script>


<script>
    {% block content_javaScript %}
        /*用户-删除*/
        function member_del(obj) {
            var table = layui.table;
            table.on('row(memberList)', function (tableRow) {
                layer.confirm('确认要删除吗？', function (index) {
                    $.ajax({
                        type: "get",
                        async: true,
                        dataType: "json",
                        url: "/homepage/index/memberdelAction",
                        data: {
                            'id': tableRow.data.id,
                        },
                        success: function (data) {
                            if (data.ret == 'success') {
                                //发异步删除数据
                                $(obj).parents("tr").remove();
                                layer.msg('已删除!', {icon: 1, time: 1000});
                            } else {
                                alert("删除失败！");
                            }
                        },
                        error: function (data) {
                            alert("Error！");
                        }
                    });
                    location.reload();
                });
            });
        }

        function delAll(argument) {
            var ids = [];
            var checkStatus = layui.table.checkStatus('memberList');
            var checkData = checkStatus.data;

            for (var i = 0; i < checkData.length; i++) {
                id = checkData[i].id;
                ids.push(id)
            }
            ids = "[" + ids + "]"

            layer.confirm('确认要删除吗？' + ids.toString(), function (index) {
                $.ajax({
                    type: "get",
                    dataType: "json",
                    url: "/homepage/index/memberDelAllAction",
                    data: {
                        "ids": ids
                    },
                    success: function (data) {
                        if (data.ret == "success") {
                            //捉到所有被选中的，发异步进行删除
                            layer.msg('删除成功', {icon: 1});
                            $(".layui-form-checked").not('.header').parents('tr').remove();
                        } else {
                            layer.msg('删除失败！', {icon: 2});
                        }
                    },
                    error: function (data) {
                        alert("error");
                    }
                });

            });
        }

        function ChangeStatus() {
            var table = layui.table;
            table.on('row(memberList)', function (tableRow) {
                $.ajax({
                    type: 'get',
                    dataType: 'json',
                    url: "/homepage/index/memberlistAction",
                    data: {
                        'method': 'getStatus',
                        'id': tableRow.data.id
                    },
                    success: function (data) {
                        var normal = $("#get_status").hasClass("layui-btn-normal");
                        var danger = $("#get_status").hasClass("layui-btn-danger");
                        if (data.status == 1) {
                            $("#get_status").text("已启用");
                            if (!normal) {
                                $("#get_status").addClass("layui-btn-normal");
                                $("#get_status").removeClass("layui-btn-danger");
                            }
                        } else {
                            $("#get_status").text("已禁用");
                            if (!danger) {
                                $("#get_status").removeClass("layui-btn-normal");
                                $("#get_status").addClass("layui-btn-danger");
                            }
                        }
                    },
                    error: function (data) {
                        alert("error!")
                    }
                });
            });
            location.reload();
        }


        function ChangePasswd() {
            var table = layui.table;
            table.on('row(memberList)', function (tableRow) {
                $.ajax({
                    type: 'get',
                    dataType: 'json',
                    url: '/homepage/index/memberPasswordAction',
                    data: {
                        'id': tableRow.data.id
                    },
                    success: function (data) {
                        {#alert(data.username);#}
                        tarurl = "memberPassword?" + data.username
                        xadmin.open('修改密码', tarurl, 600, 400);
                    },
                    error: function (data) {
                        alert("error");
                    }
                });
            });
        }
    {% endblock %}
</script>


{% block table_btn %}
    <!-- 用户状态templet -->
    <script type="text/html" id="StatusTemplet">
        {% verbatim %}
        {{#  if(d.status == 1){ }}
        <span id="get_status" class="layui-btn layui-btn-normal layui-btn-mini" onclick="ChangeStatus(this)">已启用</span>
        {{#  } else { }}
        <span id="get_status" class="layui-btn layui-btn-danger layui-btn-mini" onclick="ChangeStatus(this)">已禁用</span>
        {{#  } }}
        {% endverbatim %}
    </script>

    <!-- 用户操作 -->
    <script type="text/html" id="OperationToolBar">
        <a onclick="ChangePasswd(this)" title="修改密码" href="javascript:;">
            <i class="layui-icon">&#xe631;</i>
        </a>
        <a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">
            <i class="layui-icon">&#xe640;</i>
        </a>
    </script>
    <!-- 用户性别选择 -->
    <script type="text/html" id="switchTpl">
        {% verbatim %}
        <input type="checkbox" name="memberGender" value="{{ d.id }}" lay-skin="switch" lay-text="女|男"
               lay-filter="genderSwitch" {{ d.sex== "female" ? 'checked':''}}>
        {% endverbatim %}
    </script>
{% endblock %}

</html>